body{
  background:#333333;
  display:flex;
  justify-content:center;
  align-items:center;

}
.mouth{
  margin-top:160px;
  margin-left:300px;
  width:150px;
  aspect-ratio:1/1;
  background:rgb(255, 186, 130);
  border-radius:50%;
  justify-content:center;
   border-radius:100% 100% /70% 70% 120% 120%;
  
}
.bell{
  margin-top:-20px;
  margin-left:290px;
  width:170px;
  height:200px;
  background:rgb(255, 186, 130);
  border-radius:100% / 120% 120% 80% 80%;

 }


.c1{
  margin-left:345px;
  margin-top:-240px;
  width:70px;
  aspect-ratio:1/1;
  background:rgb(232, 135, 65);
  border-radius:50%;
  }
.c2{
  margin-left:380px;
  margin-top:-27px;
  width:60px;
  aspect-ratio:1/1;
  background:rgb(232, 135, 65);
  border-radius:50%;
  }
.c3{
  margin-left:370px;
  margin-top:-20px;
  width:50px;
  aspect-ratio:1/1;
  background:rgb(232, 135, 65);
  border-radius:50%;
  }

.c4{
  margin-left:360px;
  margin-top:-20px;
  width:40px;
  aspect-ratio:1/1;
  background:rgb(232, 135, 65);
  border-radius:50%;
  }
.c5{
  margin-left:370px;
  margin-top:-10px;
  width:30px;
  aspect-ratio:1/1;
  background:rgb(232, 135, 65);
  border-radius:50%;
  }


.thigh{
  margin-top:-20px;
  margin-left:230px;
  width:100px;
  height:200px;
  background:rgb(240, 43, 63);
  border-radius:50%;
  transform: rotate(-0.10turn);
}
.thigh2{
  margin-top:-210px;
  margin-left:440px;
  width:100px;
  height:200px;
  background:rgb(240, 43, 63);
  border-radius:50%;
  transform: rotate(0.2turn);
}
.ear{
  margin-top:-420px;
  margin-left:420px;
  width:100px;
  height:100px;
  background:rgb(255, 186, 130);
  border-radius:50% /100% 100% 0 0;
  transform: rotate(-90deg);
}
.ear2{
margin-left:230px;
margin-top:-100px;  
  width:100px;
  height:100px;
  background:rgb(255, 186, 130);
  border-radius:50% /100% 100% 0 0;
  transform: rotate(90deg);
}
.hand{
  margin-left:200px;
  margin-top:100px;
   width:70px;
  height:50px;
  background:rgb(255, 186, 130);
  border-radius:50% /100% 100% 0 0;
 transform: rotate(180deg);
}
.hand2{
  margin-left:468px;
  margin-top:-57px;
   width:70px;
  height:50px;
  background:rgb(255, 186, 130);
  border-radius:50% /100% 100% 0 0;
 transform: rotate(180deg);
}

.modak{
  margin-left:478px;
  margin-top:-100px;
  width:50px;
  height:50px;
  background:rgb(219, 136, 11);
  border-radius: 0 50% 50% 50%;
  rotate:45deg;
  
}
.f1
{
margin-top:-20px;
  margin-left:203px;
  width:10px;
  height:30px;
  background:rgb(255, 186, 130);
   border-radius: 50% /100% 100% 0 0;
}
.f2
{
  margin-left:217px;
  margin-top:-39px;
  width:10px;
  height:30px;
  background:rgb(255, 186, 130);
   border-radius: 50% /100% 100% 0 0;
}

.f3
{
  margin-left:230px;
  margin-top:-32px;;
  width:12px;
  height:30px;
  background:rgb(255, 186, 130);
   border-radius: 50% /100% 100% 0 0;
}
.f4
{
  margin-left:245px;
  margin-top:-23px;
  width:10px;
  height:30px;
  background:rgb(255, 186, 130);
   border-radius: 50% /100% 100% 0 0;
}
.thumb{
  margin-top:-18px;
  margin-left:260px;
  width:14px;
  height:28px;
  background:rgb(255, 186, 130);
  border-radius:50%;
  transform: rotate(0.turn);
}
.leg{
    margin-left:350px;
  margin-top:120px;
   width:60px;
  height:55px;
  background:rgb(255, 186, 130);
  border-radius:50% /100% 100% 0 0;
 transform: rotate(50deg);
  
}
.leg2{
    margin-left:330px;
  margin-top:10px;
   width:60px;
  height:55px;
  background:rgb(255, 186, 130);
  border-radius:50% /100% 100% 0 0;
 transform: rotate(-50deg);
  
}
.mukut{
  margin-top:-528px;
  margin-left:300px;
  width:150px;
  height:100px;
  background:rgb(252, 201, 30);
  border-radius:100% / 160% 160%  20% 20%;
  
}
.m2{
  margin-top:-139px;
  margin-left:350px;
  width:50px;
  height:50px;
  background:rgb(252, 201, 30);
  position:relative;
  rotate:45deg;
}

  .eye1{
  margin-top:55px;
  margin-left:95px;
  width:25px;
  height:10px;
  background:white;
  border-radius:50%;
  position:absolute;
  display:flex;
  justify-content:center;
  align-items:center;
}
.eye2{
   margin-top:55px;
  margin-left:30px;
  width:25px;
  height:10px;
  background:white;
  border-radius:50%;
  position:absolute;
  display:flex;
  justify-content:center;
  align-items:center;
}
.pupil{
  width:10px;
  height:10px;
  border-radius:50%;
  background:black;
}
.thumb1{
  margin-top:480px;
  margin-left:400px;
  width:14px;
  height:28px;
  background:rgb(255, 186, 130);
  border-radius:50%;
 transform: rotate(5.290rad);
}
.f1l{
   margin-top:-12px;
  margin-left:380px;
  width:19px;
  height:19px;
  border-radius:50%;
  background:rgb(255, 186, 130);
}
.f2l{
  margin-top:-10px;
  margin-left:370px;
  width:17px;
  height:17px;
  border-radius:50%;
  background:rgb(255, 186, 130);
}
.f3l{
  margin-top:-10px;
  margin-left:365px;
  width:15px;
  height:15px;
  border-radius:50%;
  background:rgb(255, 186, 130);
}
.f4l{
  margin-top:-3px;
  margin-left:360px;
  width:12px;
  height:12px;
  border-radius:50%;
  background:rgb(255, 186, 130);
}
.tilak{
  margin-top:-450px;
  margin-left:370px;
  width:10px;
  height:20px;
  border-radius:50%;
  background:red;
}
.heera{
   margin-top:150px;
  margin-left:343px;
   width:20px;
  height:20px;
  border-radius:50%;
  background:yellow;
}
.h1{
  margin-top:-30px;
  margin-left:335px;
  width:15px;
  height:15px;
  border-radius:50%;
  background:rgb(224, 178, 49);
}
.h2{
  margin-top:-35px;
  margin-left:331px;
  width:20px;
  height:20px;
  border-radius:50%;
  background:yellow;
}
.h3{
  margin-top:-35px;
  margin-left:335px;
  width:15px;
  height:15px;
  border-radius:50%;
  background:rgb(224, 178, 49);
}
.h4{
  margin-top:-30px;
  margin-left:330px;
    width:20px;
  height:20px;
  border-radius:50%;
  background:yellow;
  }
.ratn
{
  margin-top:-180px;
  margin-left:360px;
  width:30px;
  height:30px;
  background:rgb(11, 109, 184);
  border-radius:0 50% 50% 50%;
  rotate:45deg;
}
.ratn1{
  margin-top:-25px;
  margin-left:405px;
   width:20px;
  height:20px;
  background:rgb(86, 166, 227);
  border-radius:0 50% 50% 50%;
  rotate:45deg;
}
.ratn2{
  margin-top:-20px;
 margin-left:320px;
  width:20px;
  height:20px;
  background:rgb(86, 166, 227);
  border-radius:0 50% 50% 50%;
  rotate:45deg;
}
.ratbelly
{ 
  margin-top:400px;
  margin-left:560px;
  width:50px;
  height:60px;
  background:black;
  border-radius:50%;
  rotate:-45deg;
}
.rathead{
   margin-top:-70px;
  margin-left:538px;
  width:35px;
  height:35px;
  background:black;
  border-radius:50%;
}
.rattail{
   margin-top:10px;
   margin-left:615px;
   width:7px;
  height:40px;
  background:black;
  border-radius:50%;
  transform: rotate(2.145rad);
}
.teeth{
   margin-top:-350px;
   margin-left:330px;
   width:15px;
  height:40px;
  background:white;
  border-radius:50%;
   rotate:45deg;
}
.legjewel{
  margin-left:330px;
  margin-top:230px;
   width:15px;
  height:40px;
  background:yellow;
  border-radius:50%;
   rotate:45deg;
}

.legjewel2{
  margin-top:-100px;
  margin-left:390px;
  width:15px;
  height:45px;
  background:yellow;
  border-radius:50%;
   rotate:-30deg;
}

.legf1{
    margin-left:330px;
  margin-top:-25px;
   width:15px;
  height:28px;
  background:rgb(255, 186, 130);
  border-radius:50%;
   rotate:45deg;
}
  .legf2{
  margin-top:-10px;
  margin-left:350px;
  width:18px;
  height:18px;
  border-radius:50%;
  background:rgb(255, 186, 130);
}
.legf3{
  margin-left:358px;
  margin-top:-5px;
    width:15px;
  height:15px;
  border-radius:50%;
  background:rgb(255, 186, 130);
}
.legf4{
   margin-top:-2px;
  margin-left:366px;
      width:13px;
  height:13px;
  border-radius:50%;
  background:rgb(255, 186, 130);
}
   section{
     display:flex;
     justify-content:center;
     align-content:center;
     margin-top:-300px;
     position:absolute;
     z-index:-2;
   }
   .lines{
       width:3px;
       height:300px;
       border:1px solid transparent;
       background:rgb(7,347,255);
       border-radius:50%;
       position:absolute;
       box-shadow: 0px 5px 20px rgb(7,347,255)
   }
   .lines:nth-child(1){
     transform: rotateZ(0deg);
   }
   .lines:nth-child(2){
     transform: rotateZ(20deg);
   }
   .lines:nth-child(3){
     transform: rotateZ(40deg);
   }
   .lines:nth-child(4){
     transform: rotateZ(60deg);
   }
   .lines:nth-child(5){
     transform: rotateZ(80deg);
   }
   .lines:nth-child(6){
     transform: rotateZ(100deg);
   }
     